body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  
  /* Variables */
  --content-padding: 1rem;
  --blue: #464D77;
  --yellow: #E1B12C;
  --green: #386641;
  --white: #ffffff;
  --red: #ED6A5A;

  background-color: var(--white);
}

*, *::after, *::before {
  box-sizing: border-box;
}

h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

p {
  color: #fff
}

/* Header */
header {
  background-image: url('../resources/pexels-pixabay-274192.jpg');
  background-size: cover;
  background-position-y: center;
  padding: var(--content-padding);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.logo {
  width: 94px;
}

.header-text {
  font-size: 2rem;
  text-align: center;
  font-weight: 900;
}

.header-text span {
  font-family: 'Fascinate', cursive;
  font-size: 1.5em;
  color: var(--yellow);
  text-shadow: 3px 3px #ffffff;
}

/* Main */
main {
  padding: var(--content-padding);
  background-color: #000000;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.long-line {
  height: 5px;
  width: 65%;
  border-bottom: 5px solid #ffffff;
  margin-bottom: 5px;
}
.short-line {
  height: 5px;
  width: 50%;
  border-bottom: 5px solid #ffffff;
}

.bar-title {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 900;
}

.bar-address {
  text-decoration: none;
  color: var(--white);
  font-weight: 900;
  font-size: 1.2rem;
  border-radius: 100px;
  padding: 10px;
  background-color: var(--blue);
}

.bar-description {
  padding: 1rem 0;
}

.full-height {
  height: 100vh;
}

.some-space {
  width: 100%;
  height: 1px;
  margin-bottom: 40px;
}

.bar-website {
  color: var(--red);
  font-weight: 700;
  letter-spacing: 1px;
  border-bottom: 2px solid var(--red);
  text-decoration: none;
}

.bar-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tag-list-wrapper {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  border-radius: 100px;
  background-color: var(--yellow);
  padding: 5px 20px;
  color: var(--white);
  border-bottom: 3px solid rgba(0,0,0,0.1);
  margin-right: 10px;
  margin-bottom: 5px;
}

.map-wrapper {
  width: 100%;
}

.map {
  width: 100%;
}
