body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  
  /* Variables */
  --content-padding: 1rem;
  --blue: #464D77;
  --yellow: #E1B12C;
  --green: #386641;
  --white: #ffffff;
  --red: #ED6A5A;

  background-color: var(--white);
}

*, *::after, *::before {
  box-sizing: border-box;
}

/* Header */
header {
  background-image: url('../resources/pexels-pixabay-274192.jpg');
  background-size: cover;
  background-position-y: center;
  padding: var(--content-padding);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav {
  color: #ffffff;
  font-weight: 100;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

header nav a {
  color: #ffffff;
  font-weight: 300;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 0 0.5rem;
}

header nav a:hover {
  border-bottom: 1px solid #ffffff;
}

.logo {
  width: 94px;
}

.header-text {
  font-size: 2rem;
  text-align: center;
  font-weight: 900;
}

.header-text span {
  font-family: 'Fascinate', cursive;
  font-size: 1.5em;
  color: var(--yellow);
  text-shadow: 3px 3px #ffffff;
}

/* Main */
main {
  padding: var(--content-padding);
}



.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.long-line {
  height: 5px;
  width: 65%;
  border-bottom: 5px solid #ffffff;
  margin-bottom: 5px;
}
.short-line {
  height: 5px;
  width: 50%;
  border-bottom: 5px solid #ffffff;
}

/* List */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-item {
  border-bottom: 10px dotted #e1b12c;
  padding: 1rem;
}

.list-item:last-child {
  border-bottom: none;
}

.bar_title {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 900;
}

.bar_location_copy {
  color: var(--white);
  background: var(--blue);
  padding: .4rem;
  text-decoration: none;
  box-shadow: 3px 3px 0px 0px var(--yellow);
  margin: 1rem 0;
}

.bar_description {
  padding: 1rem 0;
}

.full-height {
  height: 100vh;
}
